{% extends "layout_bo.html.twig" %}

{% block title %}Modifier Commentaire #{{ comment.id_comment|e }}{% endblock %}
{% block content %}
   <!-- BREADCRUMB -->
   <nav class="breadcrumbs breadcrumbs-bo">
      <ul>
         <li><a href="/blog_php/backoff/dashboard" class="home">Accueil</a></li>
         <li><a href="/blog_php/backoff/comments?page=1">Liste des commentaires</a></li>
         <li class="threadTitle">Modifier commentaire #{{ comment.id_comment|e }}</li>
         <li class="threadTitle300" title="Modifier commentaire #{{ comment.id_comment|e }}">...</li>
      </ul>
   </nav>
   <!-- MAIN CONTENT -->
   <div class="containerEdit">
      <h3><i class="fas fa-pencil-alt"></i>Modifier commentaire #{{ comment.id_comment|e }}</h3>
      <form method="POST">
         <div>
            <label for="contents">Contenu :</label>
            <textarea id="contents" name="contents" rows="10" required>{{ comment.contents|e }}</textarea>
            {% if errors.emptyContents is defined %}
               <p>{{ errors.emptyContents|e }}</p>
            {% endif %}
         </div>
         <div>
            <label for="status">Statut :</label>
            <select id="status" name="status" required>
               <option value="approved" {% if comment.status == "approved" %}selected="selected"{% endif %}>Approved</option>
               <option value="pending" {% if comment.status == "pending" %}selected="selected"{% endif %}>Pending</option>
               <option value="rejected" {% if comment.status == "rejected" %}selected="selected"{% endif %}>Rejected</option>
            </select>
            {% if errors.emptyStatus is defined %}
               <p>{{ errors.emptyStatus|e }}</p>
            {% endif %}
         </div>
         <input type="submit" class="btn" name="editComment" value="Valider" />
      </form>
      <form class="formReset" method="POST">
         <button type="button" id="resetForm" class="btnReset">Supprimer le commentaire</button>
         <input type="hidden" name="resetComment" value="1" />
      </form>
   </div>
{% endblock %}