{% extends "layout_bo.html.twig" %}

{% block title %}Accueil{% endblock %}
{% block content %}
   <!-- MAIN CONTENT -->
   <div class="containerLogin mt-5 d-flex justify-content-center">
      <div class="col-md-4">
         <form class="card px-5 py-5" method="POST">
            <ul class="form-data">
               <li class="forms-inputs mb-4">
                  <input type="text" name="mailUsername" placeholder="Nom d'utilisateur ou e-mail :" value="{% if mailUsername is defined %}{{ mailUsername|e }}{% endif %}" required />
                  {% if errors.emptyIdentifier is defined %}
                     <div><p>{{ errors.emptyIdentifier|e }}</p></div>
                  {% endif %}
               </li>
               <li class="forms-inputs mb-4">
                  <input type="password" class="password" name="password" placeholder="Mot de passe :" value="{% if password is defined %}{{ password|e }}{% endif %}" required />
                  {% if errors.emptyPass is defined %}
                     <div><p>{{ errors.emptyPass|e }}</p></div>
                  {% endif %}
               </li>
            </ul>
            <button class="button" type="submit" name="login">Connexion</button>
            {% if errors.loginError is defined b-and errors.emptyIdentifier is not defined b-and errors.emptyPass is not defined %}
               <div><p>{{ errors.loginError|e }}</p></div>
            {% endif %}
         </form>
      </div>
   </div>
{% endblock %}