{% extends "layout_bo.html.twig" %}

{% block title %}Liste des utilisateurs{% endblock %}
{% block content %}
   <!-- BREADCRUMB -->
   <nav class="breadcrumbs breadcrumbs-bo">
      <ul>
         <li><a href="/blog_php/backoff/dashboard" class="home">Accueil</a></li>
         <li>Liste des utilisateurs</li>
      </ul>
   </nav>
   <div class="container-bo">
      <h3><i class="fa fa-list-ul"></i>Liste des utilisateurs</h3>
      <h3><a href="/blog_php/backoff/add-admin"><i class="fa fa-plus"></i>Ajouter un administrateur</a></h3>
      {% if reply is defined %}
         {% if reply == 'ok' %}
            <div class="msgValid"><p class="msgValid">Votre message a été envoyé.</p></div>
         {% elseif reply == 'error' %}
            <div><p class="msgError">Erreur : Votre message n'a pu être envoyé.</p></div>
         {% endif %}
      {% endif %}
      <div class="overflow-auto">
         <table class="table table-striped">
            <thead>
               <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nom d'utilisateur</th>
                  <th scope="col">E-mail</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Prénom</th>
                  <th scope="col">Administrateur</th>
                  <th scope="col">Date d'inscription</th>
                  <th scope="col">Options</th>
               </tr>
            </thead>
            <tbody>
               {% for user in users %}
                  <tr>
                     <th scope="row">{{ user.getIdUser|e }}</th>
                     <td>{{ user.getUsername|e }}</td>
                     <td>{{ user.getEmail|e }}</td>
                     <td>{% if user.getLastname %}{{ user.getLastname|e }}{% else %}-{% endif %}</td>
                     <td>{% if user.getFirstname %}{{ user.getFirstname|e }}{% else %}-{% endif %}</td>
                     <td>{% if user.getIsAdmin == 0 %}Non{% else %}Oui{% endif %}</td>
                     <td>{{ user.getRegistrationDate|date("d/m/Y H:i") }}</td>
                     <td>
                        <a href="/blog_php/backoff/user-{{ user.getIdUser|e }}" class="btn btn-secondary">Modifier</a>
                        <form class="formReset" method="POST">
                           <button class="btn btn-danger" type="submit" name="resetUser" value="{{ user.getIdUser|e }}">Supprimer</button>
                        </form>
                     </td>
                  </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
{% endblock %}
