{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}
{# Used to add information to the header in addition to that contained in the base template header
{% block head %}
    {{ parent() }}
{% endblock %}
#}
{% block content %}
   <div class="container p-5">
      <!-- À propos -->
      <section id="aPropos">
         <div class="section-content">
            <h1 class="text-primary text-uppercase">
               Ludovic
               <span>Lemaître</span>
            </h1>
            <div class="subheading mb-5">
               Courriel : <a href="mailto:contact@llemaitre.com">contact@llemaitre.com</a> | Téléphone : 0673782475 | Adresse : 94450 Limeil-Brévannes
            </div>
            <p>Après une reconversion professionnelle j'ai choisi de travailler dans le domaine du développement web, dans ce but j'ai suivi une formation de développeur/intégrateur web à la 3W Academy.
            Je m'intéresse principalement au développement pour la satisfaction de réaliser des sites à partir de maquettes en leur ajoutant des fonctionnalités plus ou moins complexes grâce aux outils fascinants que sont les langages de programmation.</p>
            <div class="mt-5">
               Compte GitHub : <a href="https://github.com/l-lemaitre" target="_blank"><i class="fab fa-github" title="l-lemaitre"></i></a>
            </div>
            <form method="post">
               <p>
                  <input name="cv_download_link" class="button" type="submit" value="Lien vers le CV"/>
               </p>
            </form>
         </div>
      </section>
      <hr class="m-0" />
      <!-- Contact form -->
      <section class="containerContact" id="containerContact">
         <div class="section-content">
            <h2 class="mb-5">Contactez-moi</h2>
            <form method="POST">
               <div>
                  <div>
                     <label for="firstname"></label>
                     <input type="text" id="firstname" name="firstname" placeholder="Prénom :" value="{% if firstname is defined %}{{ firstname|e }}{% endif %}" maxlength="100" required />
                     <label for="lastname"></label>
                     <input type="text" id="lastname" name="lastname" placeholder="Nom :" value="{% if lastname is defined %}{{ lastname|e }}{% endif %}" maxlength="100" required />
                     {% if errors.emptyName is defined %}
                        <p class="msgError">{{ errors.emptyName|e }}</p>
                     {% elseif errors.invalidName is defined %}
                        <p class="msgError">{{ errors.invalidName|e }}</p>
                     {% endif %}
                  </div>
               </div>
               <div>
                  <label for="email"></label>
                  <input type="email" id="email" class="email" name="email" placeholder="E-mail :" value="{% if email is defined %}{{ email|e }}{% endif %}" maxlength="100" required />
                  {% if errors.emptyMail is defined %}
                     <p class="msgError">{{ errors.emptyMail|e }}</p>
                  {% elseif errors.invalidMail is defined %}
                     <p class="msgError">{{ errors.invalidMail|e }}</p>
                  {% endif %}
               </div>
               <div>
                  <label for="subject"></label>
                  <input type="text" id="subject" class="subject" name="subject" placeholder="Sujet :" value="{% if subject is defined %}{{ subject|e }}{% endif %}" maxlength="100" required />
                  {% if errors.emptySubject is defined %}
                     <p class="msgError">{{ errors.emptySubject|e }}</p>
                  {% endif %}
               </div>
               <div>
                  <label for="contents"></label>
                  <textarea id="contents" name="contents" placeholder="Votre message :" maxlength="400" rows="6" required>{% if contents is defined %}{{ contents|e }}{% endif %}</textarea>
                  {% if errors.emptyContents is defined %}
                     <p class="msgError">{{ errors.emptyContents|e }}</p>
                  {% endif %}
               </div>
               <button type="submit" class="button" name="message">Envoyer</button>
               {% if reply is defined %}
                  {% if reply == 'ok' %}
                     <div><p class="msgValid">Votre message a bien été envoyé.
                           Je vous répondrais par courrier électronique dans les prochaines heures.</p></div>
                  {% elseif reply == 'error' %}
                     <div><p class="msgError">Erreur : Votre message n'a pu être envoyé.</p></div>
                  {% endif %}
               {% endif %}
            </form>
         </div>
      </section>
   </div>
{% endblock %}
{# Used to add information to the footer in addition to that contained in the base template footer
{% block footer %}
    {{ parent() }}
{% endblock %}
#}