{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}
{# Used to add information to the header in addition to that contained in the base template header
{% block head %}
    {{ parent() }}
{% endblock %}
#}
{% block content %}
   <div class="container p-5">
      <!-- À propos -->
      <section id="aPropos">
         <div class="section-content">
            <h1 class="text-primary text-uppercase">
               Ludovic
               <span>Lemaître</span>
            </h1>
            <div class="subheading mb-5">
               Courriel : <a href="mailto:contact@llemaitre.com">contact@llemaitre.com</a> | Téléphone : 0673782475 | Adresse : 94450 Limeil-Brévannes
            </div>
            <p>Après une reconversion professionnelle j'ai choisi de travailler dans le domaine du développement web, dans ce but j'ai suivi une formation de développeur/intégrateur web à la 3W Academy.
            Je m'intéresse principalement au développement pour la satisfaction de réaliser des sites à partir de maquettes en leur ajoutant des fonctionnalités plus ou moins complexes grâce aux outils fascinants que sont les langages de programmation.</p>
            <div class="mt-5">
               Compte GitHub : <a href="https://github.com/l-lemaitre" target="_blank"><i class="fab fa-github" title="l-lemaitre"></i></a>
            </div>
         </div>
      </section>
      <hr class="m-0" />
      <!-- Formation -->
      <section id="formation">
         <div class="section-content">
            <h2 class="mb-5">Formation</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
               <div class="flex-grow-1">
                  <h3 class="mb-0">Développeur Intégrateur en réalisation d’applications web</h3>
                  <div class="subheading mb-3">Titre RNCP niveau 5</div>
                  <div>3W Academy</div>
               </div>
               <div class="date-local flex-shrink-0"><span class="text-primary">2021</span><span class="local-form1 text-primary">Paris 18ème</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
               <div class="flex-grow-1">
                  <h3 class="mb-3">BEP Comptabilité</h3>
                  <div>Lycée Professionnel Florian</div>
               </div>
               <div class="date-local flex-shrink-0"><span class="text-primary">2002</span><span class="local-form2 text-primary">Sceaux (92)</span></div>
            </div>
         </div>
      </section>
      <hr class="m-0" />
      <!-- Compétences -->
      <section id="competences">
         <div class="section-content">
            <h2 class="mb-5">Compétences</h2>
            <div class="subheading mb-3">Compétences techniques</div>
            <ul class="fa-ul mb-0">
               <li><span class="fa-li"><i class="fas fa-code"></i></span>Intégration et programmation web : HTML5 - CSS3 - SASS - JavaScript - PHP - MySQL</li>
               <li><span class="fa-li"><i class="fas fa-code"></i></span>Utilisation du framework Bootstrap, du CMS Wordpress et de plugins jQuery (Fancybox, Owl Carousel)</li>
               <li><span class="fa-li"><i class="far fa-keyboard"></i></span>Formation à l’utilisation de l’outil informatique (Ubuntu 20.04.2 LTS, Windows 10.0.19042)</li>
               <li><span class="fa-li"><i class="fas fa-tools"></i></span>Assemblage, configuration et mise en service de systèmes informatiques</li>
            </ul>
            <div class="subheading mt-5 mb-3">Compétences transverses</div>
            <ul class="fa-ul mb-0">
               <li><span class="fa-li"><i class="fas fa-exchange-alt"></i></span>Analyser les besoins du client</li>
               <li><span class="fa-li"><i class="fas fa-tasks"></i></span>Traiter l’information (collecter, classer et mettre à jour)</li>
            </ul>
         </div>
      </section>
      <hr class="m-0" />
      <!-- Réalisations et projets personnels -->
      <section id="rea">
         <div class="section-content">
            <h2 class="mb-5">Réalisations et projets personnels</h2>
            <div class="logo">
               <a href="/importgames" target="_blank"><img src="/blog_php/public/img/importgames_ll.png" alt="logoIg" title="ImportGames" /></a>
            </div>
            <div class="subheading mt-5 mb-4">
               Site vitrine E-commerce <a href="https://importgames.llemaitre.com" target="_blank">ImportGames</a> (Dépôt <a href="https://github.com/l-lemaitre/importgames" target="_blank">GitHub</a>) :
            </div>
            <ul class="fa-ul mb-0">
               <li><span class="fa-li"><i class="fas fa-check"></i></span>Maquettage puis intégration du parcours client en HTML/CSS</li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span>Conception et création de la base de données MySQL via PHPMyAdmin</li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span>Utilisation du langage PHP pour créer un panier et rendre le site dynamique via des requêtes SQL</li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span>Mise en oeuvre de JavaScript pour contrôler l’affichage du contenu multimédia</li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span>Création d’un back office sécurisé (CRUD complet, respect du MVC)</li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span>Hébergement web du site et utilisation d’un nom de sous-domaine</li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span>Sécurisation via certificats SSL/TLS</li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span>Redirection automatique de http vers https</li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span>Amélioration du référencement naturel à l’aide des outils Google Search Console et Google Analytics</li>
            </ul>
            <hr class="d-block w-50 mt-5 mx-auto mb-5" />
            <a href="/wp-vocaloids" target="_blank">
               <picture class="d-block text-center">
                  <source srcset="/blog_php/public/img/Vocaloid_logo.png" media="(max-width: 576px)" />
                  <img src="/blog_php/public/img/vocaloids_ll.png" alt="logoVocaloid" title="VOCALOIDs" />
               </picture>
            </a>
            <div class="subheading mt-2 mb-4">
               Site WordPress <a href="https://vocaloids.llemaitre.com" target="_blank">VOCALOIDs</a> :
            </div>
            <ul class="fa-ul mb-0">
               <li><span class="fa-li"><i class="fas fa-check"></i></span>Utilisation d'un thème enfant</li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span>Installation et paramétrage d'extensions pour personnaliser l'affichage et renforcer la sécurité du site</li>
               <li><span class="fa-li"><i class="fas fa-check"></i></span>Sécurisation via protocole SSL/TLS et amélioration du référencement organique</li>
            </ul>
         </div>
      </section>
      <hr class="m-0" />
      <!-- Expérience professionnelle -->
      <section id="exp">
         <div class="section-content">
            <h2 class="mb-5">Expérience professionnelle</h2>
            <div class="exp-flex d-flex flex-column flex-md-row justify-content-between mb-5">
               <div class="flex-grow-1">
                  <h3 class="mb-0">Vendeur - Caissier</h3>
                  <div class="subheading mb-3">Librairie-Papeterie Cambon</div>
                     <ul class="fa-ul mb-0">
                     <li><span class="fa-li"><i class="fas fa-minus mr-2"></i></span>Accueil client, conseils, encaissement</li>
                     <li><span class="fa-li"><i class="fas fa-minus mr-2"></i></span>Commandes rayon informatique</li>
                     <li><span class="fa-li"><i class="fas fa-minus mr-2"></i></span>Contrôle de la cohérence des prix, étiquetage, mise en place</li>
                     <li><span class="fa-li"><i class="fas fa-minus mr-2"></i></span>Réalisation de vitrines</li>
                  </ul>
               </div>
               <div class="date-local flex-shrink-0"><span class="text-primary">2009 à 2018</span><span class="text-primary">Sucy-en-Brie</span></div>
            </div>
            <div class="exp-flex d-flex flex-column flex-md-row justify-content-between">
               <div class="flex-grow-1">
                  <h3 class="mb-0">Trieur - Étiqueteur, magasinier</h3>
                  <div class="subheading mb-3">FNAC Logistique (Intérimaire)</div>
                     <ul class="fa-ul mb-0">
                     <li><span class="fa-li"><i class="fas fa-minus mr-2"></i></span>Tri et étiquetage de livres</li>
                     <li><span class="fa-li"><i class="fas fa-minus mr-2"></i></span>Préparation de commandes</li>
                  </ul>
               </div>
               <div class="date-local flex-shrink-0"><span class="text-primary">2002 à 2009</span><span class="text-primary">Massy (91)</span></div>
            </div>
         </div>
      </section>
      <hr class="m-0" />
      <!-- Centres d'intérêt -->
      <section id="loisirs">
         <div class="section-content">
            <h2 class="mb-5">Centres d'intérêt</h2>
            <p>La pratique de jeux vidéo sur PC, consoles ou Android ainsi qu’en réalité virtuelle, la lecture et le visionnage d'oeuvres de science-fiction, l'écoute de musique notamment sur platine vinyle.</p>
         </div>
      </section>
      <!-- Contact form -->
      <section class="containerContact">
         <div class="section-content">
            <h2 class="mb-5">Contactez-moi</h2>
            <form method="POST">
               <div>
                  <div>
                     <label for="firstname"></label>
                     <input type="text" id="firstname" name="firstname" placeholder="Prénom :" value="{% if firstname is defined %}{{ firstname|e }}{% endif %}" maxlength="100" required />
                     <label for="lastname"></label>
                     <input type="text" id="lastname" name="lastname" placeholder="Nom :" value="{% if lastname is defined %}{{ lastname|e }}{% endif %}" maxlength="100" required />
                     {% if errors.emptyName is defined %}
                        <p>{{ errors.emptyName|e }}</p>
                     {% elseif errors.invalidName is defined %}
                        <p>{{ errors.invalidName|e }}</p>
                     {% endif %}
                  </div>
               </div>
               <div>
                  <label for="email"></label>
                  <input type="email" id="email" class="email" name="email" placeholder="E-mail :" value="{% if email is defined %}{{ email|e }}{% endif %}" maxlength="100" required />
                  {% if errors.emptyMail is defined %}
                     <p>{{ errors.emptyMail|e }}</p>
                  {% elseif errors.invalidMail is defined %}
                     <p>{{ errors.invalidMail|e }}</p>
                  {% endif %}
               </div>
               <div>
                  <label for="subject"></label>
                  <input type="text" id="subject" class="subject" name="subject" placeholder="Sujet :" value="{% if subject is defined %}{{ subject|e }}{% endif %}" maxlength="100" required />
                  {% if errors.emptySubject is defined %}
                     <p>{{ errors.emptySubject|e }}</p>
                  {% endif %}
               </div>
               <div>
                  <label for="content"></label>
                  <textarea id="content" name="content" placeholder="Votre message :" maxlength="400" rows="6" required>{% if content is defined %}{{ content|e }}{% endif %}</textarea>
                  {% if errors.emptyContent is defined %}
                     <p>{{ errors.emptyContent|e }}</p>
                  {% endif %}
               </div>
               <button type="submit" class="button" name="message">Envoyer</button>
               {% if reply is defined %}
                  {% if reply == 'ok' %}
                     <div><p class="msgValid">Votre message a bien été envoyé.
                           Je vous répondrais par courrier électronique dans les prochaines heures.</p></div>
                  {% elseif reply == 'error' %}
                     <div><p class="msgError">Erreur : Votre message n'a pu être envoyé.</p></div>
                  {% endif %}
               {% endif %}
            </form>
         </div>
      </section>
   </div>
{% endblock %}
{# Used to add information to the footer in addition to that contained in the base template footer
{% block footer %}
    {{ parent() }}
{% endblock %}
#}