{% extends "layout.html.twig" %}

{% block title %}Articles{% endblock %}
{% block content %}
   <!-- BREADCRUMB -->
   <nav class="breadcrumbs">
      <ul>
         <li><a href="/blog_php" class="home">Accueil</a></li>
         <li>Articles</li>
      </ul>
   </nav>
   <!-- MAIN CONTENT -->
   <div class="container p-1">
      {% for post in posts %}
         <div class="card mt-5">
            <div class="card-body text-center">
               <h3 class="card-title">{{ post.title|e }}</h3>
               <p>{{ post.date_updated|date("d/m/Y H:i") }}</p>
               <p class="card-text">{{ post.chapo|e }}</p>
               <div class="subheading"><a href="/blog_php/post/{{ post.slug|e }}-{{ post.id_post|e }}">Lire</a></div>
            </div>
         </div>
      {% endfor %}
   </div>
{% endblock %}