{% extends "layout.html.twig" %}

{% block title %}Articles{% endblock %}
{% block content %}
   <!-- BREADCRUMB -->
   <nav class="breadcrumbs">
      <ul>
         <li><a href="/blog_php" class="home">Accueil</a></li>
         <li>Articles</li>
      </ul>
   </nav>
   <!-- MAIN CONTENT -->
   <div class="container p-1">
      {% for post in posts %}
         <div class="card mt-5">
            <div class="card-body text-center">
               <h3 class="card-title">{{ post.getTitle|e }}</h3>
               <p>{{ post.getDateUpdated|date("d/m/Y") }}</p>
               <p class="card-text">{{ post.getChapo|e }}</p>
               <div class="subheading"><a href="/blog_php/post/{{ post.getSlug|e }}-{{ post.getIdPost|e }}">Lire</a></div>
            </div>
         </div>
      {% endfor %}
   </div>
{% endblock %}
